<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="8e221a10-21e6-4fa6-b7b7-498033fe06cb"/>
    <add key="ConsString" value="DefaultEndpointsProtocol=https;AccountName=progaiapoc;AccountKey=n7CFrB+c+zk7Z0fCP6k+JrSgAq5HSuFwk5Adf6aE4LHq1U4teEChlMoneMisfM4OOfdQU9OAki3wP3q971zMJw==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>